@using System.Security.Claims
@{
    var perfil = Convert.ToInt32(User.FindFirst(ClaimTypes.Role)?.Value);
}

<style>
    .disabled {
        color: gray!important;
        pointer-events: none!important;
        cursor: not-allowed!important;
        text-decoration: none;
    }
</style>

<div class="vertical-menu">

    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class='bx bxs-dashboard'></i>
                        <span key="t-home">Inicio</span>
                    </a>
                </li>

                <li class="menu-title mt-3" key="t-more">Administración</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-building-house'></i>
                        <span key="t-authentication">Gestión</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Empresa") " key="t-empresa" class="@(perfil != 3 ? "" : "disabled")">Empresa</a></li>
                        <li><a href="@Url.Action("Index", "Usuario")" key="t-usuarios" class="@(perfil != 3 ? "" : "disabled")">Usuarios</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-layer'></i>
                        <span key="t-multi-level">Equipos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="@Url.Action("Index", "Maquinaria")" key="t-maquinarias" class="@(perfil != 3 ? "" : "disabled")">Maquinarias</a></li>
                        <li><a href="@Url.Action("Index", "MaquinariaTarea")" key="t-tareas-maquinaria" class="@(perfil != 3 ? "" : "disabled")">Tareas Maquinaria</a></li>
                    </ul>
                </li>

                <li class="menu-title mt-3" key="t-transaccion">Transacción</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-cog'></i>
                        <span key="t-support">Mantenimiento</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="@Url.Action("Index", "Mantenimiento")" key="t-primer-nivel" class="@(perfil != 3 ? "" : "disabled")">Órdenes de Trabajo</a></li>
                        <li><a href="@Url.Action("Pendientes", "Mantenimiento")" key="t-pendientes" class="@(perfil != 3 ? "" : "disabled")">Reparar y Urgentes</a></li>
                        <li><a href="@Url.Action("ConfiguracionOdt", "Mantenimiento")" key="t-configuracionodt" class="@(perfil == 1 || perfil == 0 ? "" : "disabled")">Configuración ODT</a></li>
                    </ul>
                </li>

                <li class="menu-title mt-3" key="t-reportes">Reportes</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect ">
                        <i class='bx bx-bar-chart-alt-2'></i>
                        <span key="t-historicos">Históricos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="@Url.Action("Reporte01", "Mantenimiento")" key="t-reporte-odts" class="@(perfil != 3 ? "" : "disabled")">Reporte General</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</div>
